streamlit==1.41.1
openai==1.59.7
Pillow
requests
python-dotenv
transformers==4.23.1
ktrain==0.32.3
scikit-learn>=1.1.0
numpy
matplotlib
six
nltk
spacy
pandas
torch
fastai
seaborn
sentence-transformers
tqdm
tensorflow==2.11.0









































