openai
streamlit
Pillow
requests
python-dotenv
tensorflow==2.18.0
keras>=3.5.0
ktrain==0.35.0
matplotlib
six
scikit-learn>=1.1.0
transformers==4.24.0
numpy>=1.26.0
tokenizers==0.13.3
--no-binary tokenizers
cchardet==2.1.7 --no-binary :all:


































