openai
streamlit
Pillow
requests
python-dotenv
tensorflow==2.16.0  # Cambia la versión de TensorFlow
keras==2.12.0
ktrain==0.35.0
matplotlib
six
scikit-learn==0.24.2
transformers==4.24.0
numpy==1.21.6























